#!/usr/bin/make -f

PKG     := debian-desktop-optimizer
DESTDIR := $(CURDIR)/debian/$(PKG)
PYVER   := $(shell python3 -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}')")
SITEPKG := $(DESTDIR)/usr/lib/python3/dist-packages

%:
	dh $@ --with python3

override_dh_auto_configure:
	# nothing to configure

override_dh_auto_build:
	cd .. && python3 -m build --wheel --no-isolation --outdir $(CURDIR)/dist

override_dh_auto_install:
	# Unpack wheel (it's a zip) into dist-packages
	mkdir -p $(SITEPKG)
	cd $(CURDIR)/dist && python3 -c \
		"import zipfile, glob; \
		 [zipfile.ZipFile(f).extractall('$(SITEPKG)') for f in glob.glob('*.whl')]"
	# Remove dist-info and egg-info
	rm -rf $(SITEPKG)/*.dist-info $(SITEPKG)/*.egg-info
	# Create entry point scripts
	mkdir -p $(DESTDIR)/usr/bin
	printf '#!/usr/bin/python3\nfrom ddo.ui.cli.main import main\nmain()\n' \
		> $(DESTDIR)/usr/bin/ddo
	printf '#!/usr/bin/python3\nfrom ddo.ui.qt.app import main\nmain()\n' \
		> $(DESTDIR)/usr/bin/ddo-gui
	chmod 755 $(DESTDIR)/usr/bin/ddo $(DESTDIR)/usr/bin/ddo-gui
	# Install app icon
	install -Dm644 ../data/icons/debian-desktop-oprimizer.png \
		$(DESTDIR)/usr/share/pixmaps/debian-desktop-optimizer.png
	install -Dm644 ../data/icons/debian-desktop-oprimizer.png \
		$(DESTDIR)/usr/share/icons/hicolor/256x256/apps/debian-desktop-optimizer.png
	install -Dm644 ../data/icons/ddo-wizard-image.png \
		$(DESTDIR)/usr/share/ddo/icons/ddo-wizard-image.png
	# Install desktop entry
	install -Dm644 ../packaging/ddo.desktop \
		$(DESTDIR)/usr/share/applications/ddo.desktop
	# Install man page
	install -Dm644 ../packaging/man/ddo.1 \
		$(DESTDIR)/usr/share/man/man1/ddo.1
	# Install data files
	install -Dm644 ../data/languages/languages.yaml \
		$(DESTDIR)/usr/share/ddo/languages/languages.yaml
	# Install polkit policy
	install -Dm644 ../packaging/polkit/com.github.apapamarkou.ddo.policy \
		$(DESTDIR)/usr/share/polkit-1/actions/com.github.apapamarkou.ddo.policy
	# Install shell completions
	install -Dm644 ../packaging/completions/ddo.bash \
		$(DESTDIR)/usr/share/bash-completion/completions/ddo

override_dh_auto_clean:
	rm -rf ../build ../src/*.egg-info dist
