#!/usr/bin/make -f
export PYBUILD_SYSTEM=setuptools
export PYBUILD_NAME=ddo
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install desktop entry
	install -Dm644 packaging/ddo.desktop \
		debian/debian-desktop-optimizer/usr/share/applications/ddo.desktop
	# Install man page
	install -Dm644 packaging/man/ddo.1 \
		debian/debian-desktop-optimizer/usr/share/man/man1/ddo.1
	# Install data files
	install -Dm644 data/languages/languages.yaml \
		debian/debian-desktop-optimizer/usr/share/ddo/languages/languages.yaml
	# Install shell completions
	install -Dm644 packaging/completions/ddo.bash \
		debian/debian-desktop-optimizer/usr/share/bash-completion/completions/ddo
